<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">XML Convertion</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
	<li class="active"><a href="javascript:void(0);" class="add_button" id="add_button" title="Add field">Add Section</a></li>
	<li class="active hidden" id="remove_button"><a href="javascript:void(0);" class="remove_button" title="Remove field">Remove Section</a></li>
	<li class="active"><a href="javascript:void(0);" class="add_button" id="add_button_1" title="Add field">Add Referece</a></li>
	<li class="active hidden" id="remove_button_1"><a href="javascript:void(0);" class="remove_button" title="Remove field">Remove Referece</a></li>
        <li class="active"><a href="" data-edit="italic" class="intLink">Italic</a></li>
	<li class="active"><a href="" data-edit="bold" class="intLink">Bold</a></li>
	<li class="active viewxmlLink"><a href="javascript:void(0);">View/Edit XML</a></li>
	<li class="active backForm hidden"><a href="javascript:void(0);">Back to Form</a></li>
	<li class="active downloadxmlLink hidden"><a href="javascript:void(0);">Download XML</a></li>
      </ul>
    </div>
  </div>
</nav>